// Font
$font: 'Space Mono', monospace;
$font-color: #fff;
$font-alternative-color: #fff;
$font-style: italic;

// Color
$accent-color: #ee6c4d;
$background-color: #000;
$background-alternative-color: #e0fbfc;
$box-color: #808080;

//Other
$padding: 20px;
$paddingshop: 10px;
