// Font
$font: 'Space Mono', monospace;
$font-color: #fff;
$font-alternative-color: #fff;

// Color
$accent-color: #ee6c4d;
$background-color: #3d5a80;
$background-alternative-color: #e0fbfc;

//Other
$padding: 20px;
$paddingshop: 10px;
