{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="grid wrapper" role="main">
        {{ content }}

    </div>


    {% include 'incl/footer.twig' %}
</body>

</html>
